In [1]:
import pandas as pd
from io import StringIO

In [6]:
csv_data = '''
    A,B,C,D
    1.0,2.0,3.0,4.0
    5.0,6.0,,8.0
    10.0,11.0,12.0,
'''

df = pd.read_csv(StringIO(csv_data))
df

       A     B     C    D
0    1.0   2.0   3.0  4.0
1    5.0   6.0   NaN  8.0
2   10.0  11.0  12.0  NaN

In [9]:
# isnull方法返回包含布尔值的数据帧
# sum方法可以得到每列缺失数值的统计
df.isnull().sum()

    A    0
B        0
C        1
D        1
dtype: int64

In [8]:
# 使用DataFrame的values属性来存取DataFrame底层NumPy阵列中的数据
df.values

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6., nan,  8.],
       [10., 11., 12., nan]])

In [10]:
# dropna方法删除缺失的数据行
df.dropna(axis=0)
# axis=1 删除缺失的数据列

       A    B    C    D
0    1.0  2.0  3.0  4.0

In [11]:
# only drop rows where all columns are NaN
# returns the whole array here since we don't have a row with where all values are NaN
df.dropna(how='all')

       A     B     C    D
0    1.0   2.0   3.0  4.0
1    5.0   6.0   NaN  8.0
2   10.0  11.0  12.0  NaN

In [12]:
# drop rows that have less than 4 real values
df.dropna(thresh=4)

       A    B    C    D
0    1.0  2.0  3.0  4.0

In [13]:
# only drop rows where NaN appear in specific columns (here: 'C')
df.dropna(subset=['C'])

       A     B     C    D
0    1.0   2.0   3.0  4.0
2   10.0  11.0  12.0  NaN